
/* 
font-family: 'Muli', sans-serif;
font-family: 'Lora', serif;
*/
body{
    font-family: 'Muli', sans-serif;
}

/* NAVIGATION */
.nav-wrapper{
    padding-top: 20px;
    padding-bottom: 20px;
}
.logo{
    font-size: 22px;
    font-weight: 800;
    color: #041122;
    text-transform: uppercase;
}
.navigation{
    font-size: 15px;
    font-weight: 600;
    padding-top: 5px;
}
.navigation__link{
    color: #52575d;
    text-decoration: none;
    margin-right: 30px;    
}
.navigation__link:hover,
.navigation__link:active,
.navigation__link:focus{
    color: #f72464;
    text-decoration: none;
}
.cart{
    padding-top: 5px;
    color: #5e5e5e;
    position: relative;
}
.cart__number{
    position: absolute;
    width: 19px;
    height: 19px;
    border-radius: 50%;
    background-color: #f72464;
    color: #fff;
    font-size: 12px;
    font-weight: 600;
    text-align: center;
    padding-top: 1px;
    left: 6px;
    top: 20px;    
}

/* HEADER */
.header{
    height: 700px;        
    overflow: hidden;
    display: flex;        
    align-items: center;
    position: relative;    
}
.header .container{
    position: relative;
    height: 100%;
    display: flex;        
    align-items: center;
    
}
.header__bg{
    position: absolute;
    height: 100%;    
    width: 100%;
    background-color: #f9f9f9;
    
    left: 45%;
    top: 0;
    overflow: hidden;
    background-image: url('../images/bg/girl.jpg');
    background-repeat: no-repeat;
    background-position: left top;
    z-index: -1;
}
.header__content{
    width: 750px;

}
.header__title{
    font-size: 80px;
    color: #222;
    font-family: 'Lora', serif;
    line-height: 1.25;
    margin-bottom: 25px;

    
    
}
.header__description{
    color: #52575D;
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 50px;
}
.header__button{
    background-color: #f72464;
    font-size: 20px;
    font-family: 'Lora', serif;
    padding-left: 45px;
    padding-right: 45px;
    display: inline-block;
    color: #fff;
    text-decoration: none;
    line-height: 1;
    padding-top: 14px;
    height: 50px;
    border-radius: 3px;
    box-shadow: 0px 5px 30px 0px rgba(31, 35, 37, 0.3);    
    transition: all 0.2s ease-in;
}
.header__button:hover{
    background-color: #DA0F4D;
    text-decoration: none;
    color: #fff;
    box-shadow: 0px 5px 30px 0px rgba(31, 35, 37, 0.4);    
}

/* CONTENT */
.title{
    font-size: 35px;
    font-family: 'Lora', serif;
    margin-bottom: 5px;
    color: #222;
    text-align: center;
    font-weight: 500;
}
.subtitle{
    font-size: 12px;
    text-align: center;
    color: #919191;
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 100px;
}
.section{
    padding-top: 100px;
    padding-bottom: 100px;
}

/* CARD */
.card{
    font-family: 'Lora', sans-serif;
    font-weight: 600;
    margin-bottom: 50px;    
}
.card__image{
    margin-bottom: 5px;
    position: relative;
    overflow: hidden;
}
.card__title{
   color: #222;    
   font-size: 18px;
   margin-bottom: 10px;
   text-align: center;
}
.card__price{
    text-align: center;
    font-size: 13px;
    color: #f72464;
}
.card__price span{
    color: #838B8F;
    text-decoration: line-through;
}
.card__hover{
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: all 0.2s ease-in;
}
.card__hover:hover{
    opacity: 1;
}
.card__image.hovered .card__hover{
    opacity: 1;
}
.card__button{
    display: block;
    text-decoration: none;
    box-shadow: 0px 5px 30px 0px rgba(31, 35, 37, 0.25);
    text-align: center;
    background-color: #f72464;
    color: #fff;
    font-size: 14px;    
    width: 120px;    
    height: 40px;            
    line-height: 1;
    padding-top: 14px;    
    border-radius: 3px;    
    transition: all 0.2s ease-in;
    margin-bottom: 12px;
}

.card__button:hover{
    background-color: #DA0F4D;
    text-decoration: none;
    color: #fff;
    box-shadow: 0px 5px 30px 0px rgba(31, 35, 37, 0.4);    
}

.buton-outline{
    display: block;
    border-width: 1px;
    border-color: rgb(247, 36, 100);
    border-style: solid;
    border-radius: 3px;
    width: 220px;
    height: 38px;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 1;
    font-family: 'Lora', serif;
    color: rgb(145, 145, 145);
    text-align: center;
    padding-top: 12px;
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
    transition: all 0.2s ease-in;
}
.buton-outline:hover{
    background-color: rgb(247, 36, 100);
    text-decoration: none;
    color:#fff;
}

/* ADV BLOCKS */
.adv-content-center{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}
.adv-wrapper{    
    height: 185px;
    background-color: #000;
}
.adv-wrapper-bg-1{
    background-image: url('../images/bg/bg-advert1.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.adv-wrapper-bg-2{
    background-image: url('../images/bg/bg-advert2.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.adv__title{    
    font-size: 60px;    
    color: #fff;
    font-family: 'Lora', serif;
    line-height: 1.2;
    text-align: left;    
}
.adv__button{    
        border-radius: 3px;
        background-color: rgb(247, 36, 100);
        box-shadow: 0px 5px 30px 0px rgba(31, 35, 37, 0.25);
        height: 60px;
        line-height: 1;                
        color: #fff;
        font-size: 22px;
        padding: 17px 60px;
        font-family: 'Lora', serif;
        text-decoration: none;
        transition: all 0.2s ease-in;
}
.adv__button:hover{
    text-decoration: none;
    color: #FFF;
    background-color: #DA0F4D;
}
/* BRAND CARD */
.description{    
        font-size: 15px;        
        color: rgb(137, 137, 137);
        line-height: 1.667;
        text-align: center;    
        margin-bottom: 40px;                        
}
.brand__card img{
    border-radius: 3px;
}
/* BLOG */
.blog{
    margin-bottom: 25px;
}
.blog__title{
    font-size: 18px;
    font-family: 'Lora', serif;
    line-height: 1.667;
    color: rgb(34,34,34);
    font-weight: 600;
    margin-bottom: 10px;
}
.blog__desc{    
        font-size: 15px;        
        color: rgb(137, 137, 137);
        line-height: 1.667;    
        font-family: 'Lora', serif;      
        margin-bottom: 10px;          
}
.blog__read-more{    
        font-size: 15px;        
        color: rgb(34, 34, 34);
        line-height: 1.2;  
        font-weight: 600;    
        font-family: 'Lora', serif;      
        text-decoration: none;       
        position: relative;          
}
.blog__read-more:after{    
    content: '';
    width: 18px;
    height: 18px;
    background-image: url('../images/svg/arrow.svg');    
    background-repeat: no-repeat;
    background-position: center;
    background-size: 18px 18px;
    position: absolute;
    right: -20px;
    top: 1px;
    
}
.blog__read-more:hover{
    color: rgb(34, 34, 34); 
    text-decoration: none;    
}
/* OTHER */
.subscribe{
    display: flex;
    justify-content: center;
    
}
.subscribe__input{    
        font-size: 15px;        
        color: #000;
        line-height: 1.8;   
        border-width: 1px;
        border-color: rgb(247, 36, 100);
        border-style: solid;
        border-radius: 3px;
        width: 248px;
        height: 38px;    
        margin-right: 10px;                  
        text-align: center;
        padding-right: 10px;
        padding-left: 10px;
        transition: all 0.2s ease-in;
}
.subscribe__input:hover,
.subscribe__input:focus{
    outline: none;
    border-color: #DA0F4D;
    
}
.subscribe__input::placeholder{
    color: rgb(196, 196, 196);
}

.subscribe__button{    
        display: block;
        text-decoration: none;        
        text-align: center;
        background-color: #f72464;
        color: #fff;
        font-size: 15px;    
        width: 120px;    
        height: 40px;            
        line-height: 1.8;        
        border-radius: 3px;    
        transition: all 0.2s ease-in;
        margin-bottom: 12px;    
        text-align: center;
        border-radius: 3px;        
        border: none;
}
 
.subscribe__button:hover{
    background-color: #DA0F4D;
    text-decoration: none;
    outline: none;
    color: #fff;
    box-shadow: 0px 5px 30px 0px rgba(31, 35, 37, 0.4);    
}
.subscribe__button:focus{
    background-color: #98002e;
    text-decoration: none;
    outline: none;
    box-shadow: 0px 5px 30px 0px rgba(31, 35, 37, 0.1);   
}
/* FOOTER */
.footer{
    background-color: #000;
    padding: 20px 0 25px;    
    text-align: center;
}
.footer-nav{
    margin-bottom: 20px;
}
.footer-nav__link:last-child{
    margin-right: 0;
}
.footer-nav__link{
    font-size: 13px;
    line-height: 1.5;
    text-decoration: none;
    color: #fff;
    margin-right: 35px;
}
.footer-nav__link:hover{
    /* background-color: #f72464; */
    color: #f72464;
    text-decoration: none;
}
.footer__social{
    margin-bottom: 20px;
    color: #fff;
    font-size: 22px;
}
.footer__social a{
    color: #fff;
    font-size: 22px;
    text-decoration: none;
    margin-right: 25px;
    transition: all 0.2s ease-in;
}
.footer__social a:last-child{
    margin-right: 0;
}
.footer__social a:hover{
    color: #f72464;    
}

.footer__copyright{
    font-weight: 100;
    font-size: 12px;
    color: rgb(137,137,137);
}
  
.twitter {
    background-color: rgb(255, 180, 108);
    position: absolute;
    left: 768px;
    top: 4492px;
    width: 21px;
    height: 17px;
    z-index: 256;
  }
  
  .mt-60{
      margin-top: 60px;
  }
  .mb-100{
      margin-bottom: 100px;
  }